.flex {
  display: flex;
}
.header {
  @extend .flex;
  height: 50px;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.692);
  box-shadow: 1px 0px 2px 1px rgb(88, 88, 88);
  align-items: center;

  .header__logo {
    h2 {
      text-transform: uppercase;
    }
  }
  .header__menu {
    @extend .flex;
    .menu__items {
      @extend .flex;
      overflow: hidden;
      list-style: none;
      
    }
    .account {
      position: absolute;
      list-style: none;
      background-color: #f9f7f7;
      padding: 4px;
      border-radius: 4px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.479);
      li{
        margin: 6px 0;
        strong {
          display: block;
          text-align: center;
        }
      }
    }
  }
}

